.monitor {
    background-color: black;
    position: relative;
    height: 100dvh;
    width: 100%;
    overflow: hidden;

    padding: 5.5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    position: relative;
    width: 100%;
    height: 67.5vmin;
    border: 30px solid transparent;
    /* border-image-source: url(@/assets/bezel.png); */
    border-image-slice: 30 fill;
    border-image-outset: 0;
    overflow: hidden;
}

.crt {
    min-width: 80ch;
    height: 100%;
    font-size: max(1rem, 2.2vmin);
    position: relative;
    background: #0e6219;
    background-image: radial-gradient(ellipse, #0e6219 0%, #050505 90%);
    animation: on 2s linear;
    transition: all 0.5s;
    overflow: hidden;
}

.crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
}

.crt:after {
    content: " ";
    opacity: 0;
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.scanline {
    overflow: hidden;
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.1;
    position: absolute;
    bottom: 50%;
    animation: scanline 5s linear infinite;
}

@keyframes scanline {
    0% {
        bottom: 100%;
    }
    50% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}

.terminal {
    position: relative;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    text-transform: uppercase;
    color: #5bf870;
    text-shadow: 0 0 5px #c8c8c8;
}

.terminal:focus {
    outline: none;
}
